@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
    background-color: seagreen;
    font-family: 'Source Sans Pro';
    max-width: 100%;
    overflow-x: hidden;
    margin: 1rem 1rem;
}

.titleheader{
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0.25rem 1rem 0.25rem;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    box-shadow: 0.05rem 0.05rem 0.1rem black;
}

.progresscontainer{
    height: 2rem;
    background-color: rgb(24, 88, 58);
    margin: 0 0.25rem 0.75rem 0.25rem;
    box-shadow: inset 0.05rem 0.05rem 0.1rem black;
}

#progresslabel{
    font-size: 1rem;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0.05rem 0.05rem 0.1rem black;
    margin-top: 0.3rem;
}

#progressbar{
    background-color: rgb(99, 224, 224);
    height: 2rem;
    width: 0%;
    box-shadow: inset 0.05rem 0.05rem 0.1rem black
}

#errormessage{
    display: none;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 200, 200);
    color: rgb(150, 10, 10);
    font-style: bold;
    border-style: solid;
    border-color: rgb(150, 10, 10);
    border-radius: 0.2rem;
    border-width: 0.1rem;
}

.container{
    column-count: 1;
    column-gap: 0.25rem;
    padding-bottom: 0.25rem;
}

.typecontainer{
    width:100%;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    box-shadow: 0.05rem 0.05rem 0.1rem black;
}

.typeheader{
    font-size: 1.5rem;
    margin: 0.25rem;
    text-align: center;
}

.checkcontainer{
    width:100%;
    display: inline-flex;
    margin-bottom: 0.25rem;
}

.cardcheck{
    font-size: 1rem;
    padding-left: 0.5rem;
}

#dlcontainer{
    width: 100%;
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#decklist{
    display:flex;
    justify-content: center;
    max-width: 90%;
    min-width: 90%;
    min-height: 2rem;
    margin: 0 auto;
}

#getlistbutton{
    width: 90%;
    margin: 0.75rem auto auto auto;
}

@media (min-width: 500px){ 
    .container{
        column-count: 2;
    }
 }

 @media (min-width:750px){
     .container{
         column-count: 3;
     }
 }