@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
    background-color: seagreen;
    font-family: 'Source Sans Pro';
}

.titleheader{
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0.25rem 1rem 0.25rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.05rem 0.05rem 0.1rem black;
}

.progresscontainer{
    height: 2rem;
    background-color: rgb(24, 88, 58);
    margin: 0 0.25rem 0.75rem 0.25rem;
    box-shadow: inset 0.05rem 0.05rem 0.1rem black;
}

.progresslabel{
    font-size: 1rem;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0.05rem 0.05rem 0.1rem black;
    margin-top: 0.3rem;
}

.progressbar{
    background-color: rgb(99, 224, 224);
    height: 2rem;
    width: 69%;
    box-shadow: inset 0.05rem 0.05rem 0.1rem black
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.columncontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkcontainer{
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.05rem 0.05rem 0.1rem black;
}

.cardcheck{
    font-size: 1rem;
    margin-left: 0.5rem;
}

@media (min-width: 500px) { 
    .container{
        flex-direction: row;
    }
 }